:root {
  --black: #040808;
  --darkgrey: #222c38;
  --lightgrey: #d9e0e0;
  --lightgreen: #66fcf1;
  --darkgreen: #229993;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

#readed {
  color: var(--black);
  font-size: 26px;
  margin-top: 10px;
}
